<a href="https://colab.research.google.com/github/KMVALLI/Python-for-datascienc-/blob/main/session_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for loop

In [ ]:
# for loop in function i.e range it will take three argurments 
#if you give 1 it will take that vakue
#if you give two it will take maximum and minimum 
#if you give 3  it will take minimum and maximum and interwel

In [5]:
#hear it will print 0 to 4 index start with 0
for variable in range(5):
  print(variable)

0
1
2
3
4

In [6]:
# hear it will start from minimum to maximum 
for masthan in range(2,9):
  print(masthan)

2
3
4
5
6
7
8

In [10]:
#hear it will start with 2 to 2 skipping of 2
for valli in range(2,20,2):
  print(valli)

2
4
6
8
10
12
14
16
18

In [13]:
 masthan_valli = [1,2,3,4,5,6]

 for valli in range(0,len(masthan_valli)):
   #print(masthan_valli)
   masthan_valli[valli]=masthan_valli[valli]+2
print (masthan_valli)

[3, 4, 5, 6, 7, 8]

In [14]:
     items = ['Apple','Bananna','Grapes']
     for item in items :
       if(item == 'Apple'):
         print("hello")
       else:
         print(item)

hello
Bananna
Grapes

In [17]:
#sumationof numbers
summation = 0
for num in range(0,10):
  summation = summation+num
print (summation)

45

#LIst comprehenceses

In [21]:
example = 'masthanvalli'
lists = []
for valli in  example:
  lists.append(valli) 
  print (lists)

['m']
['m', 'a']
['m', 'a', 's']
['m', 'a', 's', 't']
['m', 'a', 's', 't', 'h']
['m', 'a', 's', 't', 'h', 'a']
['m', 'a', 's', 't', 'h', 'a', 'n']
['m', 'a', 's', 't', 'h', 'a', 'n', 'v']
['m', 'a', 's', 't', 'h', 'a', 'n', 'v', 'a']
['m', 'a', 's', 't', 'h', 'a', 'n', 'v', 'a', 'l']
['m', 'a', 's', 't', 'h', 'a', 'n', 'v', 'a', 'l', 'l']
['m', 'a', 's', 't', 'h', 'a', 'n', 'v', 'a', 'l', 'l', 'i']

In [22]:
print(lists)

['m', 'a', 's', 't', 'h', 'a', 'n', 'v', 'a', 'l', 'l', 'i']

In [27]:
example = 'hi i am masthan valli'
emptyt_ist=[]
for valli in example :
  emptyt_ist.append(valli)
print(emptyt_ist)
#using list comprehensions
print([valli for valli in example])

['h', 'i', ' ', 'i', ' ', 'a', 'm', ' ', 'm', 'a', 's', 't', 'h', 'a', 'n', ' ', 'v', 'a', 'l', 'l', 'i']
['h', 'i', ' ', 'i', ' ', 'a', 'm', ' ', 'm', 'a', 's', 't', 'h', 'a', 'n', ' ', 'v', 'a', 'l', 'l', 'i']

In [28]:
from traitlets.traitlets import Integer
#another excample using if loop
int_list = [1,3,5,6,2,5,63,55,6,8565,8555,5]
[integer for integer in int_list if integer%2 ==0 ]

[6, 2, 6]

In [31]:
## Another example
["evennumber" if integer%2==0 else "oddnumber" for integer in int_list]

['oddnumber',
 'oddnumber',
 'oddnumber',
 'evennumber',
 'evennumber',
 'oddnumber',
 'oddnumber',
 'oddnumber',
 'evennumber',
 'oddnumber',
 'oddnumber',
 'oddnumber']

In [39]:

#with help of def key word we can creatte a userdefined function
def abc(name):
  print("123",name)

In [41]:
# now it is posible to abc as a functiom
#what ever the function you pass in that abc funtion it will print becouse we are defined as in function
abc("masthan valli")

123 masthan valli

In [42]:
abc(123)

123 123

In [43]:
abc(1 22 55)

SyntaxError: ignored

In [45]:
#what ever you want o handel handel in defination level i meeen hear we cont do anything in function level
# hear we are creating a function combiination of integer and string 
def studentscore(name ,score):
  print(name,"scored",score,"marks")

#above two lines are mondstory to create a function

In [46]:
#now we call the function 
studentscore("masthanvalli",89)

masthanvalli scored 89 marks

#date anf time

In [47]:
import datetime
today_date = datetime.datetime.now()
print (today_date)

2022-11-07 06:56:15.822174

In [48]:
#we can print whay ever required 
d = datetime.date(2030 , 2 ,27)
print(d)

2030-02-27

In [49]:
#librery is a collection of modules
#module is a collection function

In [50]:
#two ways to import in modules 
#1st import datetime # heare we are takibg the all resourceses those are not required 
#2nd from datetime import date   ## hear we arevtaking the required resouecese

In [51]:
from datetime import date
timestamp = date.fromtimestamp(12354654457)  # hear is a encoder is avalable  and it is nneccesary for 10 digit number 
print("Date= " ,timestamp)

Date=  2361-07-03

In [57]:
from datetime import time

In [66]:
from datetime import time

a =time()
print(a)

00:00:00

In [59]:
b= time(11,34,56)
print("b=",b)

b= 11:34:56

In [63]:
c = time(hour = 11, minute=34,second=56)
print(c)

11:34:56

In [64]:
d=time(11,34,56,234566)
print(d)

11:34:56.234566

In [67]:
#calculating the difference 
from datetime import date
t1= date(year =2016, month=5,day=2)
t2= date(year =2025, month=9,day=5)
t3 = t2-t1
print(t3)

3413 days, 0:00:00

In [68]:
print (type(t3))

<class 'datetime.timedelta'>

In [69]:
t3.days

3413

In [82]:
 from datetime import datetime
t4= date(year =2016, month=5,day=2,hour = 7, minute = 56, second =3)
t5= date(year =2025, month=9,day=5,hour = 2, minute = 56, second = 3)
t6 = t4-t5
print(t6)

TypeError: ignored

In [84]:

from datetime import datetime
now =datetime.now()

In [85]:
datetime.strftime(now,'%y')

'22'

In [88]:
month = now.strftime('%m')
print("month:",month)
day = now.strftime('%d')
print("day",day)

month: 11
day 07

In [89]:
time = now.strftime("%h:%m:%s")
print("time:",time)

time: Nov:11:1667807067

#strptime

In [ ]:
#strptime is class  it is striptime()
#lot of examples are avalable you can  googole it

#Interface

In [ ]:
# it is used to use inheritance class 
#it is a data transfor prospective 
#transfor of data between applicatio is call interfaceses
#two types of interfsces  1)sychroneous and 2)asynchronous

In [91]:
fh = open('abc1234.txt','w')
fh.writelines('this is line no. 1')
fh.writelines('         ')
fh.writelines('this is line number .2')
fh.close()

<_io.TextIOWrapper name='abc1234.txt' mode='w' encoding='UTF-8'>

In [97]:
h = open('abc1234.css','w')
fh.writelines('this is line no. 1')
fh.writelines('         ')
fh.writelines('this is line number .2')
fh.close()

ValueError: ignored